@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./nav.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondary) inset !important;
  -webkit-text-fill-color: var(--primary) !important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
  -webkit-text-fill-color: var(--secondary) !important;
}

:root {
  --lime: #d6e865;
  --dark: #0e1111;
  --accent-1: #e32017;
  --accent-2: #ffe97f;
  --accent-1-transparent: #e32117a7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: var(--dark);
  background-color: var(--lime);
}

.page-container {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-container {
  position: relative;
}

.subtext {
  font-family: "Roboto";
  font-style: normal;
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.135em;
  color: #d6e865;
  background-color: #0e1111;
}

.maintext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 192px;
  line-height: 225px;
  letter-spacing: 0.135em;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 215%;

  letter-spacing: 0.5em;
}

.home-nav {
  margin-top: auto;
  align-self: flex-end;
  margin-bottom: 20px;
}

.home-nav-item__container {
  display: flex;
  align-items: center;
  width: 50vw;
  background-color: #0e1111;
  color: #d6e865;
  border-top: #d6e865 solid 2px;
}

.home-nav-item__container .text,
.home-nav-item__container .numb {
  font-family: "Roboto";

  font-weight: 100;
  font-size: 40px;
  line-height: 47px;

  letter-spacing: 0.135em;
}

.home-nav-item__container .text {
}
.home-nav-item__container .numb {
  margin-left: auto;
  padding-right: 5vw;
}

.subtext-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.135em;
}
