@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./nav.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px red inset !important;
  -webkit-text-fill-color: orange !important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px violet inset !important;
  -webkit-text-fill-color: green !important;
}

:root {
  --lime: #d6e865;
  --dark: #0e1111;
  --accent-1: #e32017;
  --accent-2: #ffe97f;
  --accent-1-transparent: #e32117a7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #0e1111;
  background-color: #eeeeee;
}

.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #eeeeee;
}

.page-container::before {
  content: "Sy";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1274px;
  line-height: 1493px;
  letter-spacing: -0.005em;
  color: #000000;
  opacity: 0.05;
  position: absolute;
  top: 0;
  z-index: -1;
}

.title-container {
  position: relative;
  margin-top: 80px;
  margin-left: 50px;

  margin-right: 50px;
}

.others-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtext-3 {
  width: 500px;
  text-align: right;
  font-size: 12px;
  line-height: 214.69%;
  /* or 26px */

  text-align: right;
  letter-spacing: 0.5em;
}

.subtext {
  font-family: "Roboto";
  font-style: normal;
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.135em;
  color: #eeeeee;
  background-color: #dc5f00;
  padding: 5px;
}

.maintext-container {
  display: flex;
}

.maintext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 192px;
  line-height: 225px;

  letter-spacing: -0.005em;
}

.tm-text {
  content: "TM";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 90px;
  letter-spacing: 0.065em;
  margin-bottom: auto;
  padding-left: 16px;

  align-self: center;
}

.c-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
}

.text-container {
  display: flex;
  align-items: center;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 215%;

  letter-spacing: 0.5em;
}

.text-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.135em;
  padding-left: 16px;
}

.home-nav {
  margin-top: auto;
  align-self: flex-end;
  margin-bottom: 200px;
}

.home-nav-item__container {
  display: flex;
  align-items: center;
  width: 50vw;

  padding: 20px 0;

  border-bottom: #0e1111 solid 1px;
}

.home-nav-item__container .text,
.home-nav-item__container .numb {
  font-family: "Roboto";

  font-weight: 100;
  font-size: 40px;
  line-height: 47px;

  letter-spacing: 0.135em;
}

.home-nav-item__container .text {
}
.home-nav-item__container .numb {
  margin-left: auto;
  padding-right: 5vw;
}

.subtext-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.135em;
  margin-top: 40px;
}

contact-form {
  margin: auto;
}

.contact-form label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 214.69%;

  letter-spacing: 0.5em;
}

.contact-form input,
.message__container textarea {
  padding: 14px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
}

.contact-form input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
  color: #5a5959;
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-container:first-of-type {
  margin-right: 20px;
}

.contact-form input {
  border: solid 1px black;
  outline: none;
  width: 100%;
}

input.contact-btn {
  margin-top: 20px;
  background-color: #dc5f00;

  font-size: 20px;
  line-height: 214.69%;

  letter-spacing: 2.31em;
}

.name-email__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.message__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message__container textarea {
  border: solid 1px black;
  resize: none;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

form {
  width: 100%;
  max-width: 1800px;
  padding: 20px;
}

.title-container {
  position: relative;
}

.send-status {
  position: absolute;
  bottom: 0;
  padding: 14px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
}

/* projects */

.proj-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.proj-item-container {
  height: 100%;
  padding: 30px;
}

.proj-item-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 150px;
  /* identical to box height */

  letter-spacing: 0.055em;

  color: #dc5f00;

  text-align: center;
}
.proj-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 214.69%;

  text-align: center;
  letter-spacing: 0.02em;
}
.proj-item-subtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 214.69%;

  text-align: center;
  letter-spacing: 0.5em;
}

.colored-span {
  background-color: #dc5f00;
  padding: 8px;
}
