@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./nav.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #0e1111;
  background-color: #eeeeee;
}

.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #eeeeee;
}

.page-body {
  padding: 0 120px;
  padding-top: 50px;
}

.page-container::before {
  content: "Sy";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1274px;
  line-height: 1493px;
  letter-spacing: -0.005em;
  color: #000000;
  opacity: 0.05;
  position: absolute;
  top: 0;
  z-index: -1;
}

.title-container {
  position: relative;
}
.title-container.home {
  padding-top: 50px;
  padding-left: 50px;
}

.others-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtext-3 {
  margin-top: 10px;
  width: 500px;
  text-align: right;
  font-size: 12px;
  line-height: 214.69%;
  /* or 26px */

  text-align: right;
  letter-spacing: 0.5em;
}

.subtext {
  font-family: "Roboto";
  font-style: normal;
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.5em;
  color: #eeeeee;
  background-color: #dc5f00;
  padding: 5px;
}

.maintext-container {
  display: flex;
}

.maintext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 192px;
  line-height: 225px;

  letter-spacing: -0.005em;
}

.tm-text {
  content: "TM";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 90px;
  letter-spacing: 0.065em;
  margin-bottom: auto;
  padding-left: 16px;

  align-self: center;
}

.c-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
}

.text-container {
  display: flex;
  align-items: center;
}

/* for animation */
.text-wrapper {
  position: relative;
  overflow-y: hidden;
  height: 50px;
  min-width: 220px;
}

.text.display {
  position: absolute;
  top: 0;
}

.text.underline {
  bottom: -1px;
  height: 7px;
  border-radius: 2px;
  width: 0;
  position: absolute;
  background-color: #dc5f00;
}

.home-nav-item__container:hover .text.underline {
  width: 100%;
  transition: all 0.5s;
}
.home-nav-item__container:hover .numb-container {
  background-color: #dc5f00;
  transition: all 0.5s;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 215%;
  letter-spacing: 0.5em;
}

.text.about {
  font-size: 12px;
  letter-spacing: 0.1em;
}

.text.about span {
  padding: 4px;
}

.colored-span.toolkit {
  margin: 2px;
  display: inline-block;
}

.text-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.135em;
  padding-left: 16px;
}

.home-nav {
  align-self: flex-end;

  margin-top: auto;
  margin-bottom: 200px;
}

.home-nav-item__container {
  display: flex;
  align-items: center;
  width: 50vw;
  padding: 20px 0;
  border-bottom: #0e1111 solid 1px;
  cursor: pointer;
}

.home-nav-item__container .text,
.home-nav-item__container .numb {
  font-family: "Roboto";

  font-weight: 100;
  font-size: 40px;
  line-height: 47px;

  letter-spacing: 0.135em;
}

.home-nav-item__container .text {
}
.home-nav-item__container .numb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 5vw;
  border-radius: 50%;
  padding: 12px;
}

.home-box-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  /* 
  margin-top: auto;
  margin-bottom: 200px; */
}

.text-span {
  display: inline-block;
}

.box-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  position: absolute;
}
.box-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-secondary-1 {
  height: 220px;
  width: 220px;
  background-color: #e32017;
  position: absolute;
  left: -40px;
  top: -40px;
}
.box-secondary-2 {
  height: 330px;
  width: 330px;
  background-color: #dc5f00;
  position: absolute;
  right: -50px;
  bottom: -50px;
}
.box-primary {
  height: 320px;
  width: 320px;
  background-color: #0e1111;
  /* position: absolute; */
  z-index: 222;
  position: relative;
  transform-style: preserve-3d;
  color: #eeeeee;
}

.subtext-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.135em;
  margin-top: 40px;
}

contact-form {
  margin: auto;
}

.contact-form label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 214.69%;

  letter-spacing: 0.5em;
}

.contact-form input,
.message-container textarea {
  padding: 14px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
}

.message-container textarea {
  height: 200px;
}

.contact-form input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
  color: #5a5959;
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-container:first-of-type {
  margin-right: 20px;
}

.contact-form input {
  border: solid 1px black;
  outline: none;
  width: 100%;
}

input.contact-btn {
  margin-top: 20px;
  background-color: #dc5f00;

  font-size: 20px;
  line-height: 214.69%;

  letter-spacing: 2.31em;
  cursor: pointer;
}

.name-email__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message-container textarea {
  border: solid 1px black;
  resize: none;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

form {
  width: 100%;
  max-width: 1800px;
  padding: 20px;
}

.send-status {
  position: absolute;
  bottom: 0;
  padding: 14px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 214.69%;
  letter-spacing: 0.5em;
}

/* projects */

.proj-container {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
}

.proj-item-container {
  height: 100%;
  padding: 30px;
  cursor: pointer;
  flex: 1 1 0;
}

.proj-item-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 150px;
  /* identical to box height */

  letter-spacing: 0.055em;

  color: #dc5f00;

  text-align: center;
}
.proj-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 214.69%;

  text-align: center;
  letter-spacing: 0.02em;
}
.proj-item-subtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 215%;
  text-align: center;
  letter-spacing: 0.1em;
}

.colored-span {
  background-color: #dc5f00dc;
  padding: 4px;
}

.page-container.single {
  overflow-y: visible;
}

.images-container {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
}

.image-container img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
}

.image-container.selected img {
  border: 2px red solid;
}
.selected-image-container {
  position: relative;
}

.selected-image {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.image-btn {
  position: absolute;
  height: 100%;
  width: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.image-btn.back {
  left: 0;

  transition: all 0.5s;
}

.image-btn.next {
  right: 0;

  transition: all 0.5s;
}

.overlay {
  background-color: #0e111141;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted-image-container {
  position: fixed;
  width: 80vw;
}
.highlighted-image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-btn.back:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 85%
  );
  transition: all 0.5s;
}

.image-btn.next:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.4) 100%
  );
  transition: all 0.5s;
}

.arrow-btn {
  color: white;
  font-size: 44px;
}

.single-project-title-container {
  display: flex;
  align-items: center;
}

.single-project-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;

  letter-spacing: -0.005em;

  color: #0e1111;
}

.single-project-links-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.single-project-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.135em;
  color: #eeeeee;
  text-decoration: none;
  padding: 0 20px;
}

.single-project-link.site {
  background-color: #0e1111;
  margin-bottom: 12px;
}
.single-project-link.git {
  background-color: #dc5f00;
}

.single-project-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 215%;
  text-align: justify;

  letter-spacing: 0.2em;

  color: #0e1111;
}

.back {
  font-size: 76px;

  letter-spacing: -0.005em;

  color: #dc5f00;
  overflow: hidden;
  width: 96px;
  cursor: pointer;
}

.tag {
  font-weight: 400;
  font-size: 12px;
  color: #eeeeee;
  background-color: #dc5f00;
  margin-right: 12px;
  padding: 0 2px;
  display: inline-block;
  letter-spacing: 0.5em;
}

.tag-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.135em;

  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
  letter-spacing: 0.5em;
}

.tag-container {
  margin-bottom: 40px;
}

.footer {
  height: 809px;
  width: 100vw;
}

@media only screen and (max-width: 1367px) {
  .text.about {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 200%;
    text-align: justify;
  }

  .subtext {
    font-size: 26px;
    padding: 2px;
  }
  .maintext {
    /* margin-top: 20px; */
    font-size: 100px;
    line-height: 105px;
    letter-spacing: -0.005em;
  }
  .proj-item-subtext {
    padding-left: 6px;
    font-size: 11px;
    line-height: 250%;

    letter-spacing: 0.2em;
  }

  .box-secondary-1 {
    height: 150px;
    width: 150px;
    left: -50px;
    top: -50px;
  }
  .box-secondary-2 {
    height: 180px;
    width: 180px;
    right: -100px;
    bottom: -50px;
  }
  .box-primary {
    height: 220px;
    width: 220px;
  }
  .box-wrapper {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .c-text {
    padding-top: 20px;
  }
  .subtext {
    font-size: 26px;

    padding: 2px;
  }

  .subtext-2 {
    font-size: 26px;

    padding: 2px;
  }

  .maintext {
    margin-top: 20px;
    font-size: 112px;
    line-height: 95px;
    letter-spacing: -0.005em;
  }
  .tm-text {
    font-size: 32px;
    line-height: 16px;
    padding-left: 6px;
    align-self: center;
  }

  .home-box-nav {
    flex-direction: column-reverse;
  }

  .home-box-nav {
    align-self: start;
  }

  .home-nav {
    align-self: center;
    margin-top: 20px;
  }

  .home-nav-item__container .text,
  .home-nav-item__container .numb {
    font-size: 36px;
    line-height: 27px;
  }

  .home-nav-item__container .text {
    padding-left: 5vw;
  }

  .text-small {
    font-size: 16px;
    padding-left: 10px;
  }

  .home-nav-item__container {
    width: 95vw;
    padding: 20px 0px;
  }

  .home-box-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
  }

  .box-wrapper {
    min-height: 400px;
  }

  .others-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .others-container .subtext-3 {
    text-align: left;
    width: 100%;
    font-size: 9px;
    line-height: 300%;
  }
  .label-container input,
  .contact-form input::placeholder,
  .message-container textarea,
  .message-container textarea::placeholder,
  .contact-form label {
    font-size: 12px;
  }
  .message-container textarea {
    height: 400px;
  }
  .page-body {
    padding: 0 20px;
    padding-top: 50px;
  }

  .others-container .subtext-3 {
    font-size: 12px;
  }
  .contact-form {
    padding: 0px;
  }

  .text {
    font-size: 17px;
  }
  .body-text {
    margin-top: 30px;
  }

  .proj-container {
    flex-direction: column;
  }

  .proj-item-title {
    font-size: 21px;
    line-height: 214.69%;
    min-width: 120px;
  }

  .proj-item-container {
    display: flex;
    padding: 0px;
    border-bottom: solid black 1px;
    align-items: center;
  }
  .proj-item-subtext {
    padding-left: 16px;
    font-size: 11px;
    line-height: 150%;
    text-align: left;
    letter-spacing: 0.1em;
  }

  .proj-item-subtext .colored-span {
    padding: 1px;
  }

  .box-wrapper {
    padding-top: 0px;
  }

  .page-container.single {
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 435px) {
  .page-container.about {
    overflow-y: visible;
  }
  .subtext {
    font-size: 16px;
    line-height: 19px;
    padding: 2px;
  }
  .maintext {
    font-size: 59px;
    line-height: 65px;
    letter-spacing: -0.005em;
  }
  .tm-text {
    font-size: 17px;
    line-height: 16px;
    padding-left: 6px;
    align-self: center;
  }
  .c-text {
    font-size: 18px;
    line-height: 18px;
  }
  .subtext-2 {
    font-size: 18px;
    line-height: 19px;
    margin-top: 20px;
  }
  .title-container.home {
    padding-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .home-nav {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .home-nav-item__container .text,
  .home-nav-item__container .numb {
    font-size: 22px;
    line-height: 27px;
  }

  .home-nav-item__container .text {
    padding-left: 5vw;
  }

  .text-small {
    font-size: 12px;
    padding-left: 10px;
  }

  .home-nav-item__container {
    width: 95vw;
  }

  .home-box-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
    flex-direction: column-reverse;
    align-self: start;
  }

  .box-wrapper {
    min-height: 400px;
  }

  .page-body {
    padding: 0 10px;
    padding-top: 50px;
  }

  .others-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .others-container .subtext-3 {
    text-align: left;
    width: 100%;
    font-size: 9px;
    line-height: 300%;
  }
  .text {
    font-size: 12px;
  }
  .body-text {
    margin-top: 30px;
  }

  .contact-form {
    padding: 0;
    margin-top: 30px;
  }
  .label-container label,
  .message-container label {
    font-size: 12px;
  }

  .message-container textarea {
    height: 300px;
  }

  input.contact-btn {
    font-size: 14px;
  }

  .proj-container {
    flex-direction: column;
  }

  .proj-item-container {
    display: flex;
    padding: 0px;
    border-bottom: solid black 1px;
    align-items: center;
  }

  .proj-item-main {
    font-size: 90px;
    line-height: 100px;
  }

  .proj-item-subtext {
    padding-left: 6px;
    font-size: 11px;
    line-height: 150%;
    text-align: left;
    letter-spacing: 0.1em;
  }

  .proj-item-subtext .colored-span {
    padding: 1px;
  }

  .image-container img {
    height: 50px;
    width: 50px;
  }
  .selected-image {
    width: 100%;
    object-fit: contain;
    height: 400px;
  }

  .single-project-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .single-project-title {
    font-size: 66px;
    line-height: 92px;
    margin-bottom: 20px;
  }

  .single-project-links-container {
    margin: 0px;
  }
  .tag-container {
    margin-top: 10px;
  }
  .tag {
    font-size: 10px;

    margin-right: 4px;
    padding: 0 2px;
    display: inline-block;
    letter-spacing: 0.5em;
  }
  .tag-title {
    margin-right: 2px;
  }
  .page-container::before {
    font-size: 574px;
    line-height: 593px;
    top: 0px;
  }

  .box-secondary-1 {
    height: 100px;
    width: 100px;
    left: -20px;
    top: -20px;
  }
  .box-secondary-2 {
    height: 100px;
    width: 100px;
    right: -20px;
    bottom: -20px;
  }
  .box-primary {
    height: 120px;
    width: 120px;
  }

  .back {
    font-size: 56px;
  }
}

.cursor {
  position: fixed;
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 0;
  left: 0;
  /* nothing happens when clicked */
  pointer-events: none;
}
.cursor-2 {
  position: fixed;
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 1px black solid;
  /* nothing happens when clicked */
  pointer-events: none;
}
