.nav-container {
  position: absolute;
  right: 0;
  z-index: 20;
}

.nav-container::before {
  content: "Sy";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1274px;
  line-height: 1493px;
  letter-spacing: -0.005em;
  color: #ffffff;
  opacity: 0.05;
  position: absolute;
  top: -202px;
  z-index: 1;
  pointer-events: none;
}

.nav-open {
  background: #dc5f00;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.nav-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: flex-start;
}

.menu {
  position: absolute;
  right: 0;
  margin: 20px;
  z-index: 50;
}

.nav-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 192px;
  line-height: 175px;
  /* identical to box height */

  letter-spacing: -0.005em;
  z-index: 22;
}

.menu div {
  width: 80px;
  height: 80px;
  position: relative;
}
.menu span {
  background-color: #0e1111;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1 {
  width: 50%;
  transform: translate(-100%, -30px);
  transform-origin: 0 0;
}

.menu .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 20px);
  transform-origin: 100% 0;
}

.menu.open .line-1 {
  transform: translate(0, 0) rotate(-45deg);
}
.menu.open .line-3 {
  transform: translate(-100%, 0) rotate(-45deg);
}
.menu.open .line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* home only nav */

@media only screen and (max-width: 1024px) {
  .nav-text {
    font-size: 135px;
  }
}

@media only screen and (max-width: 435px) {
  .nav-text {
    font-size: 76px;
    line-height: 75px;
  }
  .nav-open {
    padding: 0;
  }

  .menu div {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .menu span {
    height: 2px;
  }

  .menu .line-1 {
    transform: translate(-100%, -15px);
    transform-origin: 0 0;
  }

  .menu .line-3 {
    transform: translate(0, 10px);
  }
}
